.element__like {
   margin: 31px 20px 31px 0;
   background: url('../../../images/like.svg');
   width: 22px;
   height: 19px;
   cursor: pointer;
   border: none;
   outline: none;
}

.element__like:hover {
   opacity: 0.6;
   cursor: pointer;
   transition: 0.5s ease;
}  