.popup__input-error {
   margin: 0 0 13px 36px;
   padding: 0;
   color: red;
   font-size: 12px;
   line-height: 15px;
   font-weight: 400;
}

.popup__input-error:last-of-type {
   margin-bottom: 31px;
}